@model SocialNetworkProject.Core.Application.ViewModels.User.ResetPasswordViewModel
@{
    ViewData["Title"] = "Restablecer Contraseña";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h4 class="card-title text-center">Establecer Nueva Contraseña</h4>
            </div>
            <div class="card-body">

                @Html.ValidationMessage("ResetPasswordError", new { @class = "text-danger" })

                <form asp-action="ResetPassword" method="post">
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Token" />

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Nueva Contraseña</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Confirmar Nueva Contraseña</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>